# python environments
env
venv

# node modules
node_modules

# PyCache
__pycache__

# pyc files
*.pyc

# Local DB
db.sqlite3

# Mac Files
.DS_Store

# Web Packs
app/webpack-stats.json

# Frontend Static : As this is build every-time
app/frontend/static
